<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>

      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="sitecore_master_index" type="Sitecore.XA.Foundation.Search.Providers.Azure.CloudSearchProviderIndex, Sitecore.XA.Foundation.Search.Providers.Azure">
            <patch:attribute name="type">Sitecore.Support.XA.Foundation.Search.Providers.Azure.CloudSearchProviderIndex, Sitecore.Support.10690</patch:attribute>
          </index>
          <index id="sitecore_web_index" type="Sitecore.XA.Foundation.Search.Providers.Azure.CloudSearchProviderIndex, Sitecore.XA.Foundation.Search.Providers.Azure">
            <patch:attribute name="type">Sitecore.Support.XA.Foundation.Search.Providers.Azure.CloudSearchProviderIndex, Sitecore.Support.10690</patch:attribute>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>
