<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">

          <fieldMap type="Sitecore.ContentSearch.Azure.FieldMaps.CloudFieldMap, Sitecore.ContentSearch.Azure">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="sxacontent" boost="1f" type="System.String[]" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="haslayout" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="searchable" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="ispoi" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
              <field fieldName="geolocation" boost="1f" type="Sitecore.XA.Foundation.Search.Providers.Azure.Geospatial.GeoPoint" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
            </fieldNames>
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="tag treelist" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
            </fieldTypes>
          </fieldMap>

          <exclude hint="list:ExcludeField">
            <BodyCssClass>{35BCB8FF-3FFF-4325-B7BA-AF856C76A5FD}</BodyCssClass>
            <BodyId>{D5ED90CB-1BAA-49E5-8EA3-55FEBD502918}</BodyId>
            <TrackingIDs>{75A7BAC0-DE28-4A5F-A346-9E90E4A794F0}</TrackingIDs>
          </exclude>

          <fields hint="raw:AddComputedIndexField">
            <field fieldName="site">
              <patch:delete />
            </field>
            <field fieldName="site">Sitecore.XA.Foundation.Search.ComputedFields.Site, Sitecore.XA.Foundation.Search</field>
            <field fieldName="sxacontent" type="Sitecore.XA.Foundation.Search.ComputedFields.AggregatedContent, Sitecore.XA.Foundation.Search">
              <mediaIndexing ref="contentSearch/indexConfigurations/defaultCloudIndexConfiguration/mediaIndexing"/>
            </field>
            <field fieldName="haslayout">Sitecore.XA.Foundation.Search.ComputedFields.HasLayout, Sitecore.XA.Foundation.Search</field>
            <field fieldName="searchable">Sitecore.XA.Foundation.Search.ComputedFields.Searchable, Sitecore.XA.Foundation.Search</field>
            <field fieldName="ispoi">Sitecore.XA.Foundation.Search.ComputedFields.IsPoi, Sitecore.XA.Foundation.Search</field>
            <field fieldName="geolocation">Sitecore.XA.Foundation.Search.Providers.Azure.ComputedFields.AzureCoordinate, Sitecore.XA.Foundation.Search.Providers.Azure</field>
          </fields>

          <fieldReaders type="Sitecore.ContentSearch.FieldReaders.FieldReaderMap, Sitecore.ContentSearch">
            <param desc="id">defaultFieldReaderMap</param>
            <mapFieldByTypeName hint="raw:AddFieldReaderByFieldTypeName">
              <fieldReader fieldTypeName="integer" fieldNameFormat="{0}" fieldReaderType="Sitecore.XA.Foundation.Search.FieldReaders.NumericFieldReader, Sitecore.XA.Foundation.Search" />
              <fieldReader fieldTypeName="number" fieldNameFormat="{0}" fieldReaderType="Sitecore.XA.Foundation.Search.FieldReaders.PrecisionNumericFieldReader, Sitecore.XA.Foundation.Search" />
              <fieldReader fieldTypeName="tag treelist" fieldNameFormat="{0}" fieldReaderType="Sitecore.XA.Foundation.Search.FieldReaders.NameLookupListFieldReader, Sitecore.XA.Foundation.Search" />
            </mapFieldByTypeName>
          </fieldReaders>

          <cloudTypeMapper patch:instead="*[@type='Sitecore.ContentSearch.Azure.Schema.CloudSearchTypeMapper, Sitecore.ContentSearch.Azure']" type="Sitecore.XA.Foundation.Search.Providers.Azure.CloudSearchTypeMapper, Sitecore.XA.Foundation.Search.Providers.Azure">
            <maps hint="raw:AddMap">
              <map type="System.Char"                                             cloudType="Edm.String" />
              <map type="System.String"                                           cloudType="Edm.String" />
              <map type="System.Guid"                                             cloudType="Edm.String" />
              <map type="System.Int32"                                            cloudType="Edm.Int32" />
              <map type="System.Int64"                                            cloudType="Edm.Int64" />
              <map type="System.Double"                                           cloudType="Edm.Double" />
              <map type="System.Single"                                           cloudType="Edm.Double" />
              <map type="System.Boolean"                                          cloudType="Edm.Boolean" />
              <map type="System.DateTime"                                         cloudType="Edm.DateTimeOffset" />
              <map type="System.DateTimeOffset"                                   cloudType="Edm.DateTimeOffset" />
              <map type="System.String[]"                                         cloudType="Collection(Edm.String)" />
              <map type="System.Guid[]"                                           cloudType="Collection(Edm.String)" />
              <map type="System.Int32[]"                                          cloudType="Collection(Edm.String)" />
              <map type="System.Object[]"                                         cloudType="Collection(Edm.String)" />
              <map type="Sitecore.ContentSearch.IIndexableId, Sitecore.ContentSearch"        cloudType="Edm.String" />
              <map type="Sitecore.ContentSearch.IIndexableUniqueId, Sitecore.ContentSearch"  cloudType="Edm.String" />
              <map type="Sitecore.Data.ID, Sitecore.Kernel"                       cloudType="Edm.String" />
              <map type="Sitecore.Data.ItemUri, Sitecore.Kernel"                  cloudType="Edm.String" />
              <map type="Sitecore.ContentSearch.SitecoreItemId, Sitecore.ContentSearch"               cloudType="Edm.String" />
              <map type="Sitecore.ContentSearch.SitecoreItemUniqueId, Sitecore.ContentSearch"         cloudType="Edm.String" />
              <map type="Sitecore.Marketing.Taxonomy.Model.TaxonUri, Sitecore.Marketing.Taxonomy"     cloudType="Edm.String" />
              <map type="Sitecore.Marketing.Definitions.TaxonomicClassification, Sitecore.Marketing"  cloudType="Edm.String" />
              <map type="Sitecore.XA.Foundation.Search.Providers.Azure.Geospatial.GeoPoint, Sitecore.XA.Foundation.Search.Providers.Azure" cloudType="Edm.GeographyPoint" />
            </maps>
          </cloudTypeMapper>

        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
